*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 98%;
    margin: 25px;
    overflow: hidden;
    align-items: center;
    /* gap: 10px; */
}
/*-------------------- header -----------------------*/
header{
    /* background-color: darkcyan; */
    padding-top: 35px;
}
nav{
    /* background-color: wheat; */
    text-align: center;
}
nav > ul > li{
    display: inline-block;
    margin: 14px;
    /* background-color: yellow; */
}
nav > ul > li > a {
    text-decoration: none;
    color: #025157;
    /* font-family: "sans serif"; */
    font-weight: 500;
    font-size: 17px;
    padding: 9px;
}
.logo-container{
    grid-column: 1/4;
    margin: auto;
}
.nav-header{
    grid-column: 4/10;
}
.actions-header{
    grid-column: 10/13;
    display: inline-block;
}
.actions-header > * {
    padding: 15px;
}
.boton-actions{
    font-family: sans-serif;
    color: white;
    background-color: #025157;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    padding: 15px 20px;
    border: none;
}
.a-actions{
    font-family: sans-serif;
    color: #025157;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
/*-------------------- main section -----------------------*/
.main-info{
    grid-column: 1/7;
}
.main-video{
    grid-column: 8/13;
}
/*-------------------- brands section -----------------------*/
.titulo-brands{
    grid-column: 1/-1;
    /* grid-row: 1; */
}
.img-brands{
    grid-column: 1/-1;
    /* grid-row: 2; */
    display: flex;
}
/*-------------------- features section -----------------------*/
.titulo-features{
    grid-column: 1/-1;
}
.articles-features{
    grid-column: 1/-1;
    display: flex;
}
/*-------------------- cards section -----------------------*/
.articles-padre{
    grid-column: 1/-1;
    display: flex;
}
/*-------------------- carousel section -----------------------*/
.carousel-container{
    grid-column: 1/4;
    height: auto;
    width: 100%;
}
.corousel-info{
    grid-column: 4/13;
    display: inline-block;
}
.imagen{
    width: 95%;
}
/*-------------------- tabla section -----------------------*/
.tabla-container{
    grid-column: 1/-1;
}
/*-------------------- circulo section -----------------------*/
.circulo-contenedor{
    grid-column: 1/-1;
}
/*-------------------- grid cards section -----------------------*/
.cards-container1{
    grid-column: 1/7;
    
}
.cards-container2{
    grid-column: 7/2;
    
}
.cards-section{
    display: flex;
}
.imagen-card{
    width: 100%;
}
/*-------------------- get started section -----------------------*/
.get-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    background-color: #025157;
    color: white;
    border-radius: 8px;
}
/*-------------------- final section -----------------------*/
.subscribe-final{
    grid-column: 1/7;
}
.enlaces-final{
    grid-column: 7/13;
    display: flex;
}
/*-------------------- footer -----------------------*/
.redes-footer{
    grid-column: 1/7;
    display: flex;
}
.copy-footer{
    grid-column: 7/13;
    place-self: end;
}


